/* Start Global Rules */
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
:root {
--main-color: #2196f3;
--main-color-alt: #1787e0;
--main-transition: 0.3s;
--main-padding-top: 100px;
--main-padding-bottom: 100px;
--section-background: #ececec;
}
html {
scroll-behavior: smooth;
}
body {
font-family: "Cairo", sans-serif;
}
a {
text-decoration: none;
}
ul {
list-style: none;
margin: 0;
padding: 0;
}
.container {
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
margin: auto;

position: relative;

}

/* End  Global Rules */
/* Start Header */
	.header {
	  background-color: var(--main-color);
	  position: relative;
	  -webkit-box-shadow: 0 0 10px #ddd;
	  -moz-box-shadow: 0 0 10px #ddd;
	  box-shadow: 0 0 10px #ddd;
	  margin-bottom: 15px;
	}
	.header .container {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  flex-wrap: wrap;
	  position: relative;
	}
	.header .logo {
	  color: white;
	  font-size: 26px;
	  font-weight: bold;
	  height: 72px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
	@media (max-width: 767px) {
	  .header .logo {
	    font-size: 20px;
	    height: 60px;
	  }
	}
	.header .main-nav > li:hover .mega-menu {
	  opacity: 1;
	  z-index: 100;
	  top: calc(100% + 1px);
	}
	.header .main-nav > li > a {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  height: 72px;
	  position: relative;
	  color:white;
	  padding: 0 30px;
	  overflow: hidden;
	  font-size: 35px;
	  transition: var(--main-transition);
	}
	@media (max-width: 767px) {
	  .header .main-nav > li > a {
	    padding: 10px;
	    font-size: 25px;
	    height: 40px;
	  }
	}
	.header .main-nav > li > a::before {
	  content: "";
	  position: absolute;
	  width: 100%;
	  height: 4px;
	  background-color: var(--main-color);
	  top: 0;
	  left: -100%;
	  transition: var(--main-transition);
	}
	.header .main-nav > li > a:hover {
	  color: var(--main-color);
	  background-color: #fafafa;
	}
	.header .main-nav > li > a:hover::before {
	  left: 0;
	}
		.header .mega-menu {
	position: absolute;
	width: 100%;
	left: 0;
	padding: 30px;
	background-color: white;
	border-bottom: 3px solid var(--main-color);
	z-index: -1;
	display: flex;
	gap: 40px;
	top: calc(100% + 50px);
	opacity: 0;
	transition: top var(--main-transition), opacity var(--main-transition);
	}
	@media (max-width: 767px) {
	.header .mega-menu {
	flex-direction: column;
	gap: 0;
	padding: 5px;
	}
	}
	.header .mega-menu .links {
	min-width: 250px;
	flex: 1;
	}
	@media (max-width: 991px) {
	.header .mega-menu .image {
	display: none;
	}
	}
	.header .mega-menu .links li {
	position: relative;
	}
	.header .mega-menu .links li:not(:last-child) {
	border-bottom: 1px solid #e9e6e6;
	}
	//...
	.header .mega-menu .links li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	background-color: #fafafa;
	z-index: -1;
	transition: var(--main-transition);
	}
	.header .mega-menu .links li:hover::before {
	width: 100%;
	}
	.header .mega-menu .links li a {
	color: var(--main-color);
	padding: 15px;
	display: block;
	font-size: 18px;
	font-weight: bold;
	}
	.header .mega-menu .links li a i {
	margin-right: 10px;
	}
	.header .mega-menu .activ {
	  border-bottom:solid 1px var(--main-color-alt);
	  
	}
	/* End Header */
	/*Start main Boxe*/
	    .container .Main_Book, .similar_book{
      box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
      border:1px solid var(--section-background);
      background-color: white;
      border-radius: 6px;
      overflow: hidden;
      display: flex;
      margin-top: 10px;
      height: 189px;
      margin-top: 15px;
      margin-bottom: 15px;
      }
      .similar_book{
        height: 97px;
        overflow: visible;
      }
      .container .Main_Book h2 , .similar_book h4{
        font-size: 17px;
        font-weight: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      @media (max-width: 767px) {
         .container .Main_Book h2, .similar_book h4{
          margin-top: 10px;
          margin-bottom: 10px;
      }
      }
      .Main_Book img {
      width: 120px;
      height: 189px;
      margin-right: 20px;
      }
       .similar_book img{
         margin-right: 20px;
         height: 97px;
       }
      .Main_Book span {
        color: var(--main-color);
      }
       .similar_book span{
         font-size: 13px;
       }
      .content .Author {
        margin-bottom: 8px;
      }
       .ReadBott {
         margin-top: 50px;
      }
      .ReadBott input[type=button] {
         background-color: var(--main-color);
         color: white;
         border: none;
         padding: 5px;
         cursor: pointer;
      }
	/*End main Boxe*/
	/*Start Reviews*/
	form{
	  margin: 10px 0px 10px 0px ;
	}
	textarea {
	  text-decoration: none;
	  border-radius:12px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
	  border: none;
	  width: 500px;
	  height: 200px;
	}
	@media (max-width: 767px) {
	  textarea {
	  width: 270px;
	  height: 150px;
	    
	  }
	}
	::placeholder {
	  color: #484e50;
	  font-size: 13px;
	}
 input[type="submit"]{
  height:50px;
  width:130px;
  background-color: var(--main-color);
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  border-radius:30px ;
}
	 .title {
      font-size: 17px;
      font-weight: bold;
      box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
      padding: 10px;
      width: 100%;
    }
    .reviews .comments {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .reviews .comments img{
      width: 30px;
      border-radius: 50%;
      
    }
    .reviews .comments a{
      position: relative;
      bottom: 12px;
      left: 4px;
    }
    .reviews .comments span{
      font-size: 12px;
      position: relative;
      left: 35px;
      bottom: 10px;
    }
     .reviews .comments p{
       margin: 0px 10px 0px 10px;
     }
    .reviews .comments div{
      box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
      padding: 10px;
      width: 50%;
    }
    @media (max-width: 767px) {
     .reviews .comments div{
       width: 100%;
    }
   }

    .reviews .comments div a, span{
      color: var(--main-color);
      font-weight: bold;
    }
	/*End Reviews*/
	/* Start Footer */

.footer {

  background-color: #191919;

  padding: 70px 0 0;

}

@media (max-width: 767px) {

  .footer {

    text-align: center;

  }

}

.footer .container {

  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  gap: 40px;

}

.footer .box h3 {

  color: white;

  font-size: 50px;

  margin: 0 0 20px;

}

.footer .box .social {

  display: flex;

}

@media (max-width: 767px) {

  .footer .box .social {

    justify-content: center;

  }

}

.footer .box .social li {

  margin-right: 10px;

}

.footer .box .social li a {

  background-color: #313131;

  color: #b9b9b9;

  display: inline-flex;

  justify-content: center;

  align-items: center;

  width: 50px;

  height: 50px;

  font-size: 20px;

  transition: var(--main-transition);

}

.footer .box .social .facebook:hover {

  background-color: #1877f2;

}

.footer .box .social .twitter:hover {

  background-color: #1da1f2;

}

.footer .box .social .youtube:hover {

  background-color: #ff0000;

}

.footer .box .text {

  line-height: 2;

  color: #b9b9b9;

}

.footer .box .links li {

  padding: 15px 0;

  transition: var(--main-transition);

}

.footer .box .links li:not(:last-child) {

  border-bottom: 1px solid #444;

}

.footer .box .links li:hover {

  padding-left: 10px;

}

.footer .box .links li:hover a {

  color: white;

}

.footer .box .links li a {

  color: #b9b9b9;

  transition: var(--main-transition);

}

.footer .box .links li a::before {

  font-family: "Font Awesome 5 Free";

  content: "\F101";

  font-weight: 900;

  margin-right: 10px;

  color: var(--main-color);

}



.footer .footer-gallery img {

  width: 78px;

  border: 3px solid white;

  margin: 2px;

}
 
.footer .copyright {

  padding: 25px 0;

  text-align: center;

  color: white;

  margin: 50px 0 0;

  border-top: 1px solid #444;

}
.copyright .copy { color:white;}
.footer span {
  color:var(--main-color);
  font-weight:bolder;
}
/* End Footer */