
    
      
  
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  
  position: relative;
  
}

/* End  Global Rules */
/* Start Header */
      	.header {
      	  background-color: var(--main-color);
      	  position: relative;
      	  -webkit-box-shadow: 0 0 10px #ddd;
      	  -moz-box-shadow: 0 0 10px #ddd;
      	  box-shadow: 0 0 10px #ddd;
      	  margin-bottom: 15px;
      	}
      	.header .container {
      	  display: flex;
      	  justify-content: space-between;
      	  align-items: center;
      	  flex-wrap: wrap;
      	  position: relative;
      	}
      	.header .logo {
      	  color: white;
      	  font-size: 26px;
      	  font-weight: bold;
      	  height: 72px;
      	  display: flex;
      	  justify-content: center;
      	  align-items: center;
      	}
      	@media (max-width: 767px) {
      	  .header .logo {
      	    font-size: 20px;
      	    height: 60px;
      	  }
      	}
      	.header .main-nav > li:hover .mega-menu {
      	  opacity: 1;
      	  z-index: 100;
      	  top: calc(100% + 1px);
      	}
      	.header .main-nav > li > a {
      	  display: flex;
      	  justify-content: center;
      	  align-items: center;
      	  height: 72px;
      	  position: relative;
      	  color:white;
      	  padding: 0 30px;
      	  overflow: hidden;
      	  font-size: 18px;
      	  transition: var(--main-transition);
      	}
      	@media (max-width: 767px) {
      	  .header .main-nav > li > a {
      	    padding: 10px;
      	    font-size: 14px;
      	    height: 40px;
      	  }
      	}
      	.header .main-nav > li > a::before {
      	  content: "";
      	  position: absolute;
      	  width: 100%;
      	  height: 4px;
      	  background-color: var(--main-color);
      	  top: 0;
      	  left: -100%;
      	  transition: var(--main-transition);
      	}
      	.header .main-nav > li > a:hover {
      	  color: var(--main-color);
      	  background-color: #fafafa;
      	}
      	.header .main-nav > li > a:hover::before {
      	  left: 0;
      	}
      	/* End Header */
/* start form*/
form {
  margin: auto;
  padding: 10px;
  display: fle;
  justify-content: center;
  border-radius:30px;
  width:100%;
  max-width:  calc(100% - 250px);
  

}
  form span{
        color: red;
        font-size: 12px;
      }
      form a{
        color: #1787e0;
        font-weight: bold;
      } 
form a{
  color: var(--main-color);
  font-weight: bold;
}
@media (max-width: 767px) {
  form {
    max-width:  500px;
  }
}
  
form input[type="text"] , input[type="passward"], input[type="phone"]{
  border: 1px solid var(--main-color);
  padding:  20px;
  caret-color: white;
  width: 100% ;
  border-radius: 30px ;
  margin:10px;
}
@media (max-width: 767px) {
  form input[type="text"] {
   width: calc(100% );
  }
}
form input[type="submit"] {
  height:50px;
  width:130px;
  background-color: var(--main-color);
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  border-radius:30px ;
}
/*end form*/
    /* Start Footer */
      
      .footer {
      
      background-color: #191919;
      
      padding: 70px 0 0;
      
      }
      
      @media (max-width: 767px) {
      
      .footer {
      
      text-align: center;
      
      }
      
      }
      
      .footer .container {
      
      display: grid;
      
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      
      gap: 40px;
      
      }
      
      .footer .box h3 {
      
      color: white;
      
      font-size: 50px;
      
      margin: 0 0 20px;
      
      }
      
      .footer .box .social {
      
      display: flex;
      
      }
      
      @media (max-width: 767px) {
      
      .footer .box .social {
      
      justify-content: center;
      
      }
      
      }
      
      .footer .box .social li {
      
      margin-right: 10px;
      
      }
      
      .footer .box .social li a {
      
      background-color: #313131;
      
      color: #b9b9b9;
      
      display: inline-flex;
      
      justify-content: center;
      
      align-items: center;
      
      width: 50px;
      
      height: 50px;
      
      font-size: 20px;
      
      transition: var(--main-transition);
      
      }
      
      .footer .box .social .facebook:hover {
      
      background-color: #1877f2;
      
      }
      
      .footer .box .social .twitter:hover {
      
      background-color: #1da1f2;
      
      }
      
      .footer .box .social .youtube:hover {
      
      background-color: #ff0000;
      
      }
      
      .footer .box .text {
      
      line-height: 2;
      
      color: #b9b9b9;
      
      }
      
      .footer .box .links li {
      
      padding: 15px 0;
      
      transition: var(--main-transition);
      
      }
      
      .footer .box .links li:not(:last-child) {
      
      border-bottom: 1px solid #444;
      
      }
      
      .footer .box .links li:hover {
      
      padding-left: 10px;
      
      }
      
      .footer .box .links li:hover a {
      
      color: white;
      
      }
      
      .footer .box .links li a {
      
      color: #b9b9b9;
      
      transition: var(--main-transition);
      
      }
      
      .footer .box .links li a::before {
      
      font-family: "Font Awesome 5 Free";
      
      content: "\F101";
      
      font-weight: 900;
      
      margin-right: 10px;
      
      color: var(--main-color);
      
      }
      
      
      
      .footer .footer-gallery img {
      
      width: 78px;
      
      border: 3px solid white;
      
      margin: 2px;
      
      }
      
      .footer .copyright {
      
      padding: 25px 0;
      
      text-align: center;
      
      color: white;
      
      margin: 50px 0 0;
      
      border-top: 1px solid #444;
      
      }
      .copyright .copy { color:white;}
      .footer span {
      color:var(--main-color);
      font-weight:bolder;
      }
      /* End Footer */
